body {
	background: #031321;
	font-family: Consolas;
	
}

h1, h2 {
	color: #b6dcfb;
	text-align: center;
}

a {
	color: green;
}

p {
	text-align: center;
	color: white;
}

.secondary {
	background: none;
	color: red;
}